$loader-display-time: 5s;
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.loader {
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1;
  //animation pour me temps d'affichage
  animation-name: disappear;
  animation-duration: $loader-display-time;

  .square {
    width: 100px;
    height: 100px;
    background-color: $primary-color;
    animation-name: change-color;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
@keyframes change-color {
  0% {
    background-color: $primary-color;
  }
  50% {
    background-color: $tertiary-color;
  }
  100% {
    background-color: $secondary-color;
  }
}
@keyframes diappear {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes disable-controls {
  0% {
    margin: 0%;
    height: 100%;
    overflow: hidden;
  }
  99% {
    margin: 0%;
    height: 100%;
    overflow: hidden;
  }
  100% {
    margin: auto;
    height: auto;
    overflow: auto;
  }
}
