@media (max-width: 768px) {
  html,
  body {
    font-family: Roboto;
  }
  header {
    display: flex;
    justify-content: center;
  }

  %flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-center-colomn {
    @extend %flex-center;
    flex-direction: column;
  }
  .flex-center-row {
    @extend %flex-center;

    flex-direction: row;
  }

  .border {
    border-radius: 10px;
  }
}
