@media (max-width: 768px) {
  html,
  body {
    font-family: Roboto;
  }
}
header {
  display: flex;
  justify-content: center;
}
.titre-nav {
  display: flex;
  justify-content: center;
}
.bord-carte {
  border-radius: 10px;
}
