@import "./Sass/helpers/variables";
@import "./Sass/helpers/placeholders";
@import "./Sass/helpers/reset";
@import "./Sass/components/button";
@import "./Sass/layout/flex";
@import "./Sass/layout/header";
@import "./Sass/layout/footer";

nav {
  @extend .flex-center-row;
  background-color: #ddd;
  gap: 1em;
}
h2 {
  color: black;
  font-size: 28px;
}
.intro {
  @extend .flex-center-column;
  background-color: #eee;
  height: 285px;
  padding: 0 2em;
  text-align: center;
  & p {
    font-size: 20px;
  }
}
.border-shadow {
  @extend %border-shadow;
}

.order-helper {
  @extend .flex-center-row;
  @extend %border-shadow;
  gap: 1em;
  width: 70vw;
  margin: 1em 0;
  position: relative;

  p:nth-child(1) {
    position: absolute;
    left: -10px;
    color: white;
    padding: 2px 6px;
    border-radius: 20px;
    background-color: $primary-color;
  }
}
.border-shadow {
  display: flex;
  flex-direction: column;
  gap: 5em;
  margin: 1em;
}

.background {
  background-color: #eee;
}

.cards {
  @extend .flex-center-row;
  flex-wrap: wrap;
  gap: 3em;
  padding: 0 0.5em;
  margin-bottom: 5em;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #ddd;
  padding-bottom: 1em;
  text-decoration: none;
  color: black;

  &:visited,
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
    color: black;
  }

  .image-container,
  .description {
    flex: 1;
  }
  .description {
    @extend .flex-space-between-row;
  }
  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    min-height: 300px;
    width: 100%;
  }
  h2,
  p {
    padding: 0;
    margin: 0;
  }
}
